{{#sidebar-container as |section|}}
  {{#if section.isHeaderSection}}
    Game Filters
  {{else if section.isBodySection}}
    {{info-label
      property="numberOfPlayers"
      icon="users"
    }}
    <div class="mb-5">
      {{#each playerOptions as |option|}}
        {{filter-checkbox
          class="mb-5"
          takeAction=togglePlayers
          value=option
          selectedValue=players
          color="dark"
        }}
      {{/each}}
    </div>
    {{info-label
      property="playTime"
      icon="clock-o"
    }}
    <div class="mb-5">
      {{#each durationOptions as |option|}}
        {{filter-checkbox
          takeAction=togglePlayTime
          value=option
          selectedValue=playTime
          color="dark"
        }}
      {{/each}}
    </div>
  {{/if}}
{{/sidebar-container}}
