<div class="container-fluid text-{{color}}">
  <div class="row">
    <div class="col-1 px-0">
      {{#if isSelected}}
        {{fa-icon "check-square-o"}}
      {{else}}
        {{fa-icon "square-o"}}
      {{/if}}
    </div>
    <div class="col-11 pl-2 pr-0">
      {{text}}
    </div>
  </div>
</div>
