<div class="row">
  <div class="col">
    Game Detail
  </div>
</div>
<div class="row pt-5">
  <div class="col pb-5">
    {{info-label
      property="numberOfPlayers"
      icon="users"
      value=game.numberOfPlayers
      size="large"
      class="pb-5"
    }}
    {{info-label
      property="playTime"
      icon="clock-o"
      value=game.playTime
      size="large"
      class="pb-5"
    }}
    {{info-label
      property="minimumAge"
      icon="child"
      value=game.minimumAge
      size="large"
      class="pb-5"
    }}
    {{info-label
      property="bgg_average_rating"
      icon="star"
      value=game.bgg_average_rating
      size="large"
      class="pb-5"
    }}
    {{info-label
      property="bgg_average_weight"
      icon="balance-scale"
      value=game.bgg_average_weight
      size="large"
      class="pb-5"
    }}
    {{info-label
      property="year_published"
      icon="calendar"
      value=game.year_published
      size="large"
      class="pb-5"
    }}
  </div>
</div>
