<div class="d-inline border-top border-secondary pt-1 font-size-small">
  {{fa-icon icon class="d-inline pr-1"}}
  {{string (concat "header:" property)}}
</div>
<div class="mt-2">
  {{#if isEditing}}
    {{#if options}}
      {{#power-select
        options=options
        selected=value
        onchange=(action "save")
        searchEnabled=false
        as |option|
      }}
        {{option.name}}
      {{/power-select}}
    {{else }}
      {{input class="p-0 w-50 font-size-small" value=value}}
    {{/if}}
    <div class="button-small" {{action "save"}}>{{fa-icon "check"}}</div>
    <div class="button-small" {{action "discard"}}>{{fa-icon "close"}}</div>
  {{else}}
    <div class="d-inline {{if (eq size "large") "h3"}}">{{value}}</div>
    {{#if showEditIcon}}
      <div class="button-small" {{action "edit"}}>{{fa-icon "pencil"}}</div>
    {{/if}}
  {{/if}}
</div>
