<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid mb-4">
        <div class="row mb-2">
          <div class="col-12">
            {{fa-icon "search"}}
            {{input
              value=search
              placeholder="Search"
              autofocus=true
              class="
                border-top-0
                border-left-0
                border-right-0
                border-bottom
                border-secondary
                w-50
                p-0
                ml-2
              "
            }}
          </div>
        </div>
      </div>

      {{#filter-group title="Difficulties"}}
        {{#link-to "items" (query-params difficulty=null)}}
          {{filter-checkbox
            text="All"
            color="primary"
            isSelected=(not selectedDifficulty)
          }}
        {{/link-to}}
        {{#each difficulties as |difficulty|}}
          {{#link-to "items" (query-params difficulty=difficulty.name)}}
            {{filter-checkbox
              text=difficulty.name
              color=difficulty.color
              isSelected=(eq selectedDifficulty difficulty.name)
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}

      {{#filter-group title="Categories"}}
        {{#link-to "items" (query-params category=null)}}
          {{filter-checkbox
            text="All"
            color="secondary"
            isSelected=(not selectedCategory)
          }}
        {{/link-to}}
        {{#each categories as |category|}}
          {{#link-to "items" (query-params category=category.name)}}
            {{filter-checkbox
              text=category.name
              color="secondary"
              isSelected=(eq selectedCategory category.name)
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}
    </div>
  </div>
</div>
