{{#if isEditing}}
  {{#power-select options=options onchange=(action "onChange") as |option|}}
    {{option.name}}
  {{/power-select}}
{{else}}
<div class="badge badge-{{color}} border border-{{borderColor}}">
  {{#if icon}}
    {{fa-icon "map-marker"}}
  {{/if}}
  {{text}}
</div>
{{/if}}
