{{#bs-modal
  open=isOpen
  onHide=onHide
  position="center"
  fade=false
  size="lg"
}}
  <div class="container p-5">
    <div class="row">
      <div class="col col-4">
        <img src={{item.image}} class="align-self-start rounded w-100 border" />
      </div>
      <div class="col col-8">
        <div class="container">
          <div class="row mb-2">
            <div class="col-auto pr-0">
              {{item-badge
                text=item.location
                color="primary"
                borderColor="primary"
                icon="map-marker-alt"
              }}
            </div>
            <div class="col-auto pr-0">
              {{item-badge
                text=item.difficultyName
                color=item.badgeColor
                borderColor=item.badgeColor
              }}
            </div>
            <div class="col-auto pr-0">
              {{item-badge
                text=item.categoryName
                color="light"
                borderColor="secondary"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col h1 text-dark">
              {{item.name}}
            </div>
          </div>
          <div class="row text-primary">
            <div class="col-auto pr-0">
              {{fa-icon "user"}}
              {{item.numberOfPlayers}}
            </div>
            <div class="col-auto pr-0">
              {{fa-icon "clock-o"}}
              {{item.playTime}}
            </div>
            <div class="col-auto pr-0">
              {{fa-icon "child"}}
              {{item.minimumAge}}
            </div>
          </div>
          <div class="row pt-4 text-muted">
            <div class="col">
              {{item.shortDescription}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/bs-modal}}
