{{#link-to "items" (query-params gameId=item.id)}}
  <div class="row d-flex align-items-center border-bottom py-3">
    <div class="col-2">
      <div class="image-wrapper-small border rounded">
        <img src={{item.game.thumbnail}} class="image-small" />
      </div>
    </div>
    <div class="col-2">
      {{item.game.name}}
    </div>
    <div class="col-2">
      {{item-badge
        text=item.location
        color="primary"
        borderColor="primary"
        icon="map-marker-alt"
      }}
    </div>
    <div class="col-2">
      {{item-badge
        text=item.difficulty.name
        color=item.difficulty.color
        borderColor=item.difficulty.color
      }}
    </div>
    <div class="col-2">
      {{item-badge
        text=item.category.name
        color="light"
        borderColor="secondary"
      }}
    </div>
  </div>
{{/link-to}}
