<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      {{#filter-group title="Search"}}
        {{input value=searchQuery placeholder="Search..." class="w-75 border-0 bg-light px-3 py-1"}}
      {{/filter-group}}

      {{#filter-group title="Difficulties"}}
        {{#link-to "items" (query-params difficulty=null)}}
          {{filter-checkbox
            text="All"
            color="primary"
            isSelected=(not selectedDifficulty)
          }}
        {{/link-to}}
        {{#each difficulties as |difficulty|}}
          {{#link-to "items" (query-params difficulty=difficulty.name)}}
            {{filter-checkbox
              text=difficulty.name
              color=difficulty.color
              isSelected=(eq selectedDifficulty difficulty.name)
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}

      {{#filter-group title="Categories"}}
        {{#link-to "items" (query-params category=null)}}
          {{filter-checkbox
            text="All"
            color="secondary"
            isSelected=(not selectedCategory)
          }}
        {{/link-to}}
        {{#each categories as |category|}}
          {{#link-to "items" (query-params category=category.name)}}
            {{filter-checkbox
              text=category.name
              color="secondary"
              isSelected=(eq selectedCategory category.name)
            }}
          {{/link-to}}
        {{/each}}
      {{/filter-group}}
    </div>
  </div>
</div>
