{{#bs-modal
  open=isOpen
  onHide=onHide
  position="center"
  fade=false
  size="lg"
}}
  <div class="container p-5">
    <div class="row">
      <div class="col col-4">
        <img src={{item.game.image}} class="align-self-start rounded w-100 border" />
      </div>
      <div class="col col-8">
        <div class="container">
          <div class="row mb-2">
            <div class="col-auto pr-0">
              <span {{action "toggleIsEditing"}}>
                {{fa-icon "pencil"}}
              </span>
            </div>
            <div class="col-auto pr-0">
              {{item-badge
                isEditing=isEditing
                text=item.location
                color="primary"
                borderColor="primary"
                icon="map-marker-alt"
                item=item
                property="location"
              }}
            </div>
            <div class="col-auto pr-0">
              {{item-badge
                isEditing=isEditing
                text=item.difficulty.name
                color=item.difficulty.color
                borderColor=item.difficulty.color
                selected=item.difficulty
                options=difficulties
                item=item
                property="difficulty"
              }}
            </div>
            <div class="col-auto pr-0">
              {{item-badge
                isEditing=isEditing
                text=item.category.name
                color="light"
                borderColor="secondary"
                selected=item.category
                options=categories
                item=item
                property="category"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col h1 text-dark">
              {{item.game.name}}
            </div>
          </div>
          <div class="row text-primary">
            <div class="col-auto pr-0">
              {{fa-icon "user"}}
              {{item.game.numberOfPlayers}}
            </div>
            <div class="col-auto pr-0">
              {{fa-icon "clock-o"}}
              {{item.game.playTime}}
            </div>
            <div class="col-auto pr-0">
              {{fa-icon "child"}}
              {{item.game.minimumAge}}
            </div>
          </div>
          <div class="row pt-4 text-muted">
            <div class="col">
              {{item.game.shortDescription}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/bs-modal}}
