<div class="container vh-100">
  {{top-nav}}
  <div class="flex-row d-flex py-4">
    <div class="col-12">
      <h1>
        {{model.item.game.name}}
      </h1>
    </div>
  </div>
  <div class="flex-row d-flex py-4">
    <div class="col-4">
      <img
        src={{model.item.game.image}}
        class="w-100"
      />
    </div>
    <div class="col-4">
      {{info-label
        class="pb-5"
        property="location"
        value=model.item.location
        icon="map-pin"
        size="large"
        update=(action "update")
      }}
      {{info-label
        class="pb-5"
        property="difficulty"
        value=model.item.difficulty.name
        icon="gear"
        size="large"
        update=(action "update")
        options=model.difficulties
      }}
      {{info-label
        class="pb-5"
        property="category"
        value=model.item.category.name
        icon="tag"
        size="large"
      }}
    </div>
  </div>
  <div class="flex-row d-flex py-4">
    <div class="col-8">
      {{info-label
        property="description"
        value=model.item.game.shortDescription
        size="small"
      }}
    </div>
  </div>
</div>
