<div class="container-fluid text-dark">
  <div class="row">
    <div class="col-9">
      <div class="row pb-5">
        <div class="col">
          <h1>
            {{model.item.game.name}}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col col-3">
            <img src={{model.item.game.image}} class="w-100"/>
        </div>
        <div class="col col-6 pl-5">
          <div class="row">
            <div class="col">
              {{#info-label
                header="Description"
                icon="book"
              }}
                {{#each model.item.game.longDescription as |paragraph|}}
                  <p>
                    {{paragraph}}
                  </p>
                {{/each}}
              {{/info-label}}
            </div>
          </div>
        </div>
        <div class="col col-3 pl-5">
          <div class="row pb-4">
            <div class="col">
              {{#info-label
                header="Players"
                icon="users"
              }}
                <h4>
                  {{model.item.game.numberOfPlayers}}
                </h4>
              {{/info-label}}
            </div>
          </div>
          <div class="row pb-4">
            <div class="col">
              {{#info-label
                header="Duration"
                icon="clock-o"
              }}
                <h4>
                  {{model.item.game.playTime}}
                </h4>
              {{/info-label}}
            </div>
          </div>
          <div class="row pb-4">
            <div class="col">
              {{#info-label
                header="Ages"
                icon="child"
              }}
                <h4>
                  {{model.item.game.minimumAge}}
                </h4>
              {{/info-label}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 border-left border-secondary">
      {{model.item.organization.name}}
    </div>
  </div>
</div>
