<div class="col col-8 p-5">
  <div class="row">
    <div class="col">
      <h1>{{model.item.game.name}}</h1>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-3 pr-5">
        <img src={{model.item.game.image}} class="w-100"/>
    </div>
    {{info-label
      class="col-6 pr-5"
      header="Description"
      icon="book"
      size="small"
      value=model.item.game.shortDescription
    }}
    <div class="col-3 pr-5">
      {{info-label
        class="pb-4"
        header="House Location"
        icon="map-pin"
        size="large"
        value=model.item.location
        item=model.item
        property="location"
        updateItem=(action "updateItem")
      }}
      {{info-label
        class="pb-4"
        header="House Difficulty"
        icon="gear"
        size="large"
        value=model.item.difficulty.name
      }}
      {{info-label
        class="pb-4"
        header="House Category"
        icon="tag"
        size="large"
        value=model.item.category.name
      }}
    </div>
  </div>
</div>
{{game-sidebar
  game=model.item.game
}}
