  <div class="col col-9 p-5">
    <div class="row">
      <div class="col">
        <h1>{{model.item.game.name}}</h1>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col col-3 pr-5">
          <img src={{model.item.game.image}} class="w-100"/>
      </div>
      <div class="col col-2 pr-5">
        {{#info-label header="House Location" icon="map-pin"}}
          <h3>Shelf {{model.item.location}}</h3>
        {{/info-label}}
      </div>
      <div class="col col-2 pr-5">
        {{#info-label header="House Difficulty" icon="gear"}}
          <h3>{{model.item.difficulty.name}}</h3>
        {{/info-label}}
      </div>
      <div class="col col-2 pr-5">
        {{#info-label header="House Category" icon="tag"}}
          <h3>{{model.item.category.name}}</h3>
        {{/info-label}}
      </div>
    </div>
  </div>
  {{game-sidebar
    game=model.item.game
  }}
